<div class="principal">
    <div class="logo-pagina">
        <a routerLink="/"><img class="logo" src="assets/logo.png"></a>
    </div>

    <div class="abas-pagina">
        <a routerLink="/produtos">Produtos</a>
        <a routerLink="/orcamentos">Orçamentos</a>
        <a routerLink="/vendas">Vendas</a>
        <a routerLink="/sistema/produtos">Sistema</a>
    </div>

    <div class="icone-usuario">
        <a routerLink="/login">
            <i class="fas fa-user-circle"></i>
            Sair
        </a>
    </div>

</div>