:host {
    background: #DFE6ED;
    color:#293845;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 10000;
}

.principal {
    width: 70%;
    height: 70px;
    align-items: center;
    display: flex;
    margin: auto;
    overflow: hidden;
}

.logo-pagina img {
    float: left;
    width: 70px;
    height: 70px;
}

a {
    margin-left: 20px;
    text-decoration: none;
    color: #293845;
    vertical-align: sub;
    opacity: 100%;
    transition: opacity 1s;
}

a:hover {
    opacity: 60%;
    transition: opacity 1s;
}

.icone-usuario {
    margin-left: auto;
}

i {
    font-size: 30px;
    color: #18778C;
    vertical-align: sub;
}

.icone-usuario{
  margin-top: -8px;
}

