<app-notify></app-notify>
<p-table #dt [value]="produtosSelecionados" [paginator]="true" [rows]="10" styleClass="p-datatable-responsive-demo"
[rowHover]="true" dataKey="codigo" [globalFilterFields]="['codigo','nome', 'categoria.nome', 'marca.nome', 'preco']"
currentPageReportTemplate="Exibindo de {first} à {last} do total de {totalRecords} entradas"
[showCurrentPageReport]="true">

  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      Montar Orçamento
      <span style="display: inherit;">
        <button pButton style="margin-right: 0.5em; margin-left: 0.5em;" icon="fas fa-coins" pTooltip="Cadastrar" tooltipPosition="top"
          (click)="fecharOrcamento()" pTooltip="Fechar orçamento" [disabled]="produtosSelecionados.length == 0"></button>
        <button  pButton style="margin-right: 0.5em;" (click)="recarregarPagina()" pButton icon="pi pi-refresh" pTooltip="Recarregar"
          tooltipPosition="top"></button>

        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText style="width: 100% !important;" type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
        </span>
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon>
      </th>
      <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon>
      </th>
      <th pSortableColumn="categoria.nome">Categoria <p-sortIcon field="categoria.nome"></p-sortIcon>
      </th>
      <th pSortableColumn="marca.nome">Marca <p-sortIcon field="marca.nome"></p-sortIcon>
      </th>
      <th pSortableColumn="preco">Preço <p-sortIcon field="preco"></p-sortIcon>
      </th>
      <th pSortableColumn="qtdeEstoque">Estoque <p-sortIcon field="qtdeEstoque"></p-sortIcon>
      </th>
      <th class="acoes" pSortableColumn="quantidade">Adicionar <p-sortIcon field="quantidade"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-produtoItemTabela>
    <tr>
      <td>
        <span class="p-column-title">Código</span>
        {{produtoItemTabela.codigo}}
      </td>
      <td>
        <span class="p-column-title">Nome</span>
        {{produtoItemTabela.nome}}
      </td>
      <td>
        <span class="p-column-title">Descrição</span>
        {{produtoItemTabela.descricao}}
      </td>
      <td>
        <span class="p-column-title">Categoria</span>
        {{produtoItemTabela.categoria.nome}}
      </td>
      <td>
        <span class="p-column-title">Marca</span>
        {{produtoItemTabela.marca.nome}}
      </td>
      <td>
        <span class="p-column-title">Preço</span>
        {{produtoItemTabela.preco | currency: 'BRL'}}
      </td>
      <td>
        <span class="p-column-title">Estoque</span>
        {{produtoItemTabela.qtdeEstoque}}
      </td>
      <td class="p-grid p-fluid" style="text-align: center;">
          <div class="p-col-12 p-sm-12 p-md-12 p-xl-12">
            <p-inputNumber [(ngModel)]="produtoItemTabela.quantidade" [showButtons]="true" buttonLayout="horizontal" inputId="qtdeProduto" spinnerMode="horizontal"
            min=0 [max]="produtoItemTabela.qtdeEstoque" placeholder="0" [disabled]="produtoItemTabela.qtdeEstoque == 0" (onInput)="atualizarQuantidade(produtoItemTabela)"
            [readonly]="true">
            </p-inputNumber>
          </div>
      </td>
    </tr>
  </ng-template>
</p-table>

