<section class="categoria">

    <form id="categoriaForm" #categoriaForm="ngForm" class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-md-4">
            <label for="codigo">Código</label>
            <input pInputText id="codigo" class="p-mb-2" name="codigo" type="text" disabled [(ngModel)]="categoria.codigo" placeholder="Novo">
        </div>

        <div class="p-field p-col-12 p-md-8">
            <label for="categoria">Categoria</label>
            <input pInputText id="categoria" class="p-mb-2" name="categoria" type="text" required [(ngModel)]="categoria.nome" placeholder="Nome da categoria">
        </div>

		<div class="p-field p-col-12 p-md-10"></div>
		<div class="p-field p-col-12 p-md-1">
            <button pButton pRipple type="reset" *ngIf="categoria.codigo != 0 && categoria.codigo != null" label="Limpar" class="p-button-outlined p-button-secondary"></button>
        </div>
        <div class="p-field p-col-12 p-md-1">
            <button pButton type="submit" class="btnSalvar" [disabled]="!categoriaForm.valid" (click)="onSubmit()" label="{{ textoBotao }}"></button>
        </div>
    </form>

    <div class="card">
        <p-table id="column-item" #dt [value]="categorias" [rows]="10" [paginator]="true" [globalFilterFields]="['codigo','nome']" [rowHover]="true" dataKey="codigo"
        currentPageReportTemplate="Exibindo de {first} à {last} do total de {totalRecords} entradas" [showCurrentPageReport]="true"
        ortMode="multiple" sortField="codigo">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Categorias</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="codigo">Codigo <p-sortIcon field="codigo"></p-sortIcon></th>
                    <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-categoriaItemTabela>
                <tr (click)="alteraCategoria(categoriaItemTabela)">
                    <td>
                        {{categoriaItemTabela.codigo}}
                    </td>
                    <td>
                         {{categoriaItemTabela.nome}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</section>
